<nav class="nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
    <a class="navbar-brand" href="{{ url_for('contacts') }}">Contacts</a>
    <a class="navbar-brand" href="{{ url_for('resume') }}">Resume</a>
    <a class="navbar-brand" href="{{ url_for('get_profile') }}">Profile</a>
    <a class="navbar-brand" href="{{ url_for('users.get_products') }}">Products</a>
    <a class="navbar-brand" href="{{ url_for('users.admin') }}">Hi!</a>
  </div>
</nav>